<div class="horizon">
  <div class="grid"></div>
  <div class="container">

    <div class="header">
      <button class="btn-exit" (click)="leaveRoom()">Sair</button>
      <h2 class="title">ARENA DE DUELO</h2>
      <span class="round">Round {{room()?.roundNumber}} . {{room()?.roomName}}</span>
    </div>

    <div class="players">
      <div class="player" [ngClass]="{'winner': player().winner}">
        <div class="avatar animate-float">{{player().avatar}}</div>
        <span class="name">{{player().name}}</span>
        <div class="bar_hp">
          <div class="hp_info">
            <span>HP</span>
            <span class="hp_value">{{player().score}}/100</span>
          </div>
          <div class="bar_bg">
            <div class="bar_fill" [ngStyle]="{'width': `${player().score}%`}"></div>
          </div>
        </div>
      </div>

      <div class="opponent" [ngClass]="{'winner': opponent().winner}">
        <div class="avatar animate-float">{{opponent().avatar}}</div>
        <span class="name">{{opponent().name}}</span>
        <div class="bar_hp">
          <div class="hp_info">
            <span>HP</span>
            <span class="hp_value">{{opponent().score}}/100</span>
          </div>
          <div class="bar_bg">
            <div class="bar_fill" [ngStyle]="{'width': `${opponent().score}%`}"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="result">
      <span class="message">{{message()}}</span>
      <div class="cards_result">
        @if(!endGame()) {
        <button class="card">
          <div class="value" [ngClass]="{ show: results().player, hidden: !results().player }">
            {{ results().player ? results().player : '?' }}
          </div>
        </button>

        <button class="card">
          <div class="value" [ngClass]="{ show: results().opponent, hidden: !results().opponent }">
            {{ results().opponent ? results().opponent : '?' }}
          </div>
        </button>
        } @else {
        <div class="text_end_game">
          <span class="value">
            {{room()?.lastResult}}
          </span>
          <span class="countdown">
            Saindo da sala em {{countdownDisplay()}} segundos
          </span>
        </div>
      }
      </div>
      <span class="message">{{resultRound()}}</span>

    </div>


    <div class="list_card">
      <span class="title_list_card">Escolha sua carta!</span>
      <div class="cards">
        @for (item of selection; track $index) {
        <button class="card" (click)="selectCard(item.key)" [disabled]="disablePlayer() || endGame()">
          <div>{{item.icon}}</div>
          <div>{{item.name}}</div>
        </button>
        }
      </div>

    </div>

  </div>
</div>
